@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-family: 'Lexend Exa', sans-serif;

    height: 100%;
    width: 100%;
    padding: 20px;
    background: #cccccc;

    display: flex;
    justify-content: center;
}

body{
    height: 1200px;
    width: 900px;
    background-color: #F2F2F2;

    overflow-x: hidden;
    box-shadow: 0 0.3125rem 0.35rem #555577;

    display: flex;
    flex-direction: row;
}

main {
  padding-top: 300px;
  padding-left: 20px;
  height: 1200px;
  width: 600px;
}

header p {
  color: #2f2f2f;
}

#bio p {
  margin-left: 30px;
  max-width: 500px;
  text-indent: 30px;
  text-align: justify;
}

#education div {
  margin-left: 15px;
}

#education h3 {
  font-weight: 500;
}

#education h4 {
  font-weight: 500;
}

#education p {
  font-weight: 300;
}

#education img {
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

aside {
  padding-top: 300px;
  padding-left: 10px;
  margin-right: 0;
  height: 900px;
  width: 300px;
  background-color: #111111;
  color: #fff;
}

aside a {
  display: flex;
}

#profile-box {
  position: absolute;
  height: 200px;
  width: 800px;
  margin-left: 45px;
  margin-top: 50px;
  padding: 0;
  border: 5px solid #E69197;

  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

header {
  width: 450px;
  height: 205px;
  margin-left: 0%;
  background-color: #E69197;
  z-index: 2;
}

h1 {
  font-size: 64px;
  font-weight: 500;
  text-align: center;
}

main h2 {
  color: #727272;
}

#professional {
  max-width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.prof {
  height: 84.16px;
}

#prof {
  max-width: 90px;
}

aside h2 {
  color: #E69197;
}

aside h4 {
  font-weight: 400;
  margin-left: 30px;
}

#profile-box img {
  background-color: #fff;
  border-radius: 60%;
  border: 5px solid #E69197;
  margin-left: 170px;
}

#contacts a {
  margin-left: 30px;
}

aside div input {
  margin-left: 30px;
}

a:hover {
  color: cornflowerblue;
}

/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: fit-content;
    background-color: #727272;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Position tooltip */
.tooltip .tooltiptext {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

#sidebar {
    position: absolute;
    background-color: #E69197;
    width: 15px;
    height: 1200px;
    top: 20px;  
}

#square {
  position: absolute;
  background-color: #111111;
  width: 100px;
  height: 275px;
  z-index:1;
}

footer {
    position: absolute;
    top: 1175px;
    width: 900px;
    height: 50px;
    background-color: #E69197;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
