* {
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_HOTWHEELSUNLEASHED_MilestoneSrl_S1_2560x1440-fcf8a60bb23c64a7f3d0b2ce81334087);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    height: 15%;
    width: 100%;
    padding: 15px;
    color: white;
    background-color: #B4734F;
}

main {
    width: 100%;
    min-height: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

main section {
    width: 400px;
    height: 300px;
    padding: 20px;

    background-color: rgba(192, 192, 192, 0.739);
    border-radius: 15px;

    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input[type=button] {
    align-self: center;
    width: 100px;
    height: 30px;
}

#result {
    width: 250px;
    height: fit-content;
    padding: 15px 0 15px 0;
    margin-top: 15px;

    color: #FEF200;
    background-color: #EC1D25;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}