@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Italianno&display=swap');


h1 {
    font-family: 'Italianno', cursive;
    font-weight: 500;
    font-size: 64px;
}

h2 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 600;
}