* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: initial;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: khaki;
}

img {
    padding-top: 10px;
}

#footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav  {
    width: 200px;
    height: 100%;
    border-right: 2px solid rgb(175, 175, 175);
}

main {
    width: 600px;
    text-align: left;
}

aside {
    width: 200px;
    height: 100%;
    text-align: center;
    border-left: 2px solid rgb(175, 175, 175);
}