* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100vh;
    width: 100%;
}

a {
    display: inherit;
    text-decoration: none;
    color: initial;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: #d5d8b5;
}

header a {
    color: #0d7366;
    line-height: 16px;
    font-family: Poppins;
}

.logo-alpha {
    margin-top: 20px;
}

.middle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

nav  {
    width: 200px;
    height: 100%;
    border-right: 2px solid rgb(175, 175, 175);
}

main {
    width: 600px;
    text-align: left;
}

main a {
    margin-left: 30px;
}

aside {
    width: 200px;
    height: 100%;
    text-align: center;
    border-left: 2px solid rgb(175, 175, 175);
}

button {
    width: 100px;
    height: 25px;
    background-color: grey;
    border: none;
    border-radius: 5px;
}

a:hover {
    color: cornflowerblue;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link-sociais {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sociais {
    width: 15px;
    height: 15px;
}

.link-sociais a {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

p {
    margin-left: 30px;
    text-indent: 30px;
    text-align: justify;
}