* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100vh;
    width: 100%;
}

a {
    display: inherit;
    text-decoration: none;
    color: initial;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: fixed;
    z-index: 1000;

    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: #d5d8b5;
}

header a {
    color: #0d7366;
    line-height: 16px;
    font-family: Poppins;
}

.middle {
    margin-top: 100px;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* Início do Menu Vertical Drop-down */

nav  {
    width: 180px;
    height: 100%;
    border-right: 2px solid rgb(175, 175, 175);
    background: #fff;
}

nav ul {
    padding: 0;
    list-style: none;
    width: 150px;
}

nav ul li {
    position: relative;
    padding: 10px 0 10px 0;
}

nav ul li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
    background: #fff;
}

nav ul li a, nav ul li ul a {
    display: block;
    text-decoration: none;
    color: #0d7366;
    background: #fff;
}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */

nav li:hover ul {
    display: block; 
}

ul li a:hover {
    font-weight: bold;
    background: #ccc; 
}

/* Final do Menu Vertical Drop-down */

main {
    width: 600px;
    min-height: 80vh;
}

main a {
    margin-left: 30px;
}

aside {
    width: 180px;
    height: 100%;
    padding-left: 20px;
    text-align: center;
    border-left: 2px solid rgb(175, 175, 175);

    text-align: left;
}

button {
    width: 100px;
    height: 25px;
    background-color: grey;
    border: none;
    border-radius: 5px;
}

a:hover {
    color: cornflowerblue;
}

footer {
    position: static;
    width: 100%;
    min-height: 50px;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #196865;
}

.link-sociais {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sociais {
    width: 15px;
    height: 15px;
}

.link-sociais a {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

p {
    margin-left: 30px;
    text-indent: 30px;
    text-align: justify;
}