a[href] {
    text-decoration: underline;
}

#identificador .exemplo h2[class="atributo"] {
    color: blue;
}

main p::first-letter {
    font-size: 150%;
}

ul.a {
    font-size: 130%;
    margin-left: 20px;
    list-style-position: inside;
    list-style-image: url("check.png");
}